@import '../../scss/mixins';
@import '../../scss/variables';

.Hero {
    margin-bottom: 7.2rem;
    position: relative;


    @include breakpoint($bp-medium) {
        margin: 0 9.7rem 20rem 9.7rem;
    }

    @include breakpoint($bp-largest) {
        margin: 0 16.5rem 20rem 16.5rem;
    }

    &__image {
        width: 100%;
        max-height: 60vh;
        object-position: center;
        object-fit: cover;
        filter: brightness(.8);

        @include breakpoint($bp-medium) {
            width: auto;
            max-height: none;
            height: 72rem;
        }
    }

    &__text {
        background: #FFF;
        transform: translateY(-4.5rem);
        width: 95%;
        padding: 3.5rem 3.2rem 0 3.2rem;


        @include breakpoint($bp-medium) {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: none;
            padding: 7.4rem 0 0rem 5.8rem;
            max-width: 54.6rem;

            &::before {
                content: "";
                background: var(--color-active-page);
                width: 6.5rem;
                height: 1px;
                display: block;
                margin-bottom: 7.4rem;
            }
        }

        @include breakpoint(1200px) {
            max-width: 80rem;
        }

        @include breakpoint($bp-largest) {
            padding: 16rem 0 0rem 18.2rem;
            width: 60%;
            max-width: none;
            right: initial;
            left: 48rem;
            // transform: translatex(10%);
        }
    }

    &__title {
        margin-bottom: 1.2rem;

        @include breakpoint($bp-largest) {
            max-width: 45rem;
        }

    }

    &__paragraph {
        @include breakpoint($bp-largest) {
            max-width: rem;
        }
    }

    &__heading {
        position: absolute;
        top: 0;
        transform: translateY(-50%);

        @include breakpoint($bp-largest) {
            left: 0;
            transform: translate(-4%, -50%);
        }
    }
}